{% load static %} 

<link rel='stylesheet' type='text/css' href="{% static 'css/home44.css' %}">

<header class="header">
        <div class="header-div1">
            <a href="{% url 'home' %}" class="proshop-logo">PROSHOP</a>
            <div class="header-div2">
                <form method="POST" class="search-form">
                    {% csrf_token %}
                    <input class="search" type="text" placeholder="search..." name="search">
                    <button class="submit">Submit</button>
                </form>
                <div class="cart-auth">
                    <a href="{% url 'cart' %}" class="cart-link">
                        <p class="cart-items-counter">{{number_of_cart_items}}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="cart_icon w-6 h-6">
                            <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
                        </svg>
                    </a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout-user' %}" class="logout">Logout</a>
                    {% else %}
                    <div class="login-register-div">
                        <a href="{% url 'sign-in' %}" class="login-sign-up">LOGIN</a>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </header>